.mdi-material-red {
  color: rgb(244, 67, 54);
}

.mobile-new-start-up {
  margin-top: 30px;
  margin-bottom: 30px;
  .form-group {
    margin-bottom: 36px;
  }
  .upload_logo {
    margin-bottom: 36px;
    b {
      margin-bottom: 20px;
      font-weight: 500;
      display: block;
    }
    .logo-section {
      display: inline-block;
      width: 80px;
      margin-right: 20px;
      margin-left: 16%;
      #logo {
        width: 80px;
        height: 80px;
        background-color: #eee;
        border-radius: 100%;
        text-align: center;
        padding-top: 22px;
        i {
          font-size: 30px;
          color: #666;
        }
      }
    }
    #upload-project-button {
      display: inline-block;
      vertical-align: top;
      margin-top: 30px;
    }
    .loading-section {
      display: none;
      margin-left: 50px;
    }
  }
  .submit {
    text-align: center;
    .error {
      display: none;
    }
  }
}

.mobile-start-ups {
  background-color: #fafafa;
  overflow-y: hidden;
  .opacity-action {
    opacity: .6;
    &:active {
      opacity: .8;
    }
  }
  .bottom-icon-top {
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 1
  }
  .bottom-icon-down {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 1;
  }
  .start-ups-list-panel {
    overflow-y: hidden;
    .top {
      .number {
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        width: 60px;
        background-color: white;
        color: #FF5722;
        font-size: 36px;
        padding-top: 5px;
        text-align: center;
      }
      p {
        font-size: 12px;
        width: 100%;
        background-color: #FF5722;
        padding: 10px 20px 10px 70px;
        color: white;
        height: 60px;
        margin-bottom: 10px;
      }
    }
    .start-up {
      .icon {
        &.active {
          color: #DA552F;
        }
        background-color: #eee;
        border-radius: 4px;
        width: 36px;
        text-align: center;
        float: right;
        margin-top: 10px;
        i { font-size: 36px; }
        p {
          margin-top: -10px;
          margin-bottom: 5px;
        }
      }
      .title {
        margin-bottom: 10px;
        a {
          text-decoration: none;
          span {
            font-size: 16px;
            line-height: 30px;
            color: black;
          }
          i {
            font-size: 20px; 
            vertical-align: middle;
            color: #da552f;
            opacity: .8;
          }
        }
        img {
          float: right;
        }
      }
      .desc {
        font-size: 12px;
      }
    }
  }
}