<div class="voters row">
  <div class="col-xs-12 col-md-6 voter-list">
    <%= render 'show_voters_voter_list' %>
  </div>
  <div class="col-xs-12 col-md-6 joining-list">
    <%= render 'show_voters_joining_list' %>
  </div>
</div>