<p class="title">我的好友</p>
<% if current_user.friends.any? %>
  <ul>
    <% current_user.friends.each do |friend| %>
      <li>
        <a class="avatar-show-contact" href="#" data-content="<%= popover_contact(friend) %>" rel="popover"><%= image_tag friend.pic('small'), class: 'friend_avatar' %></a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class='desc'>你还没有好友， 去<%= link_to '我在光谷版块', users_path %>邀请朋友喝咖啡吧</p>
<% end %>