<div class="users-list">
  <%= render 'sign_section' %>
  <div class="row users-list-section">
    <% @users.each do |user|  %>
      <div class="col-md-4">
        <%= render 'user', user: user %>
      </div>
    <% end %>
  </div>
</div>