<div class="me">
  <div class="news well">
    <%= render 'users/me_news' %>
  </div>
  <div class="activities well">
    <p class="title">好友动态</p>
  </div>
  <div class="friends well">
    <%= render 'users/me_friends' %>
  </div>
  <div class="invitation_codes well">
    <%= render 'users/me_invitation_codes' %>
  </div>
  <div class="link-to-profile well">
    <%= link_to user_profile_path(current_user) do %>
      查看编辑个人信息 <i class="mdi-navigation-arrow-forward"></i>
    <% end %>
  </div>
</div>