<div class="news">
  <% @info.invitations.each do |invitation| %>
    <p>invitations</p>
  <% end %>
</div>
<div class="activities">
  
</div>
<div class="friends">
  <% current_user.friends.each do |friend| %>
    <%= image_tag friend.pic('small'), class: 'friend_avatar' %>
  <% end %>
</div>
<div class="skills"></div>