<div class="navbar navbar-warning" style="margin: 0 -15px;">
  <div class="brand">光谷客</div>
  <div class="out">
    <%= link_to "已有账户？ 去登录", new_weixin_session_path %>
  </div>
</div>
<div class="registration-table et-wrapper">
  <button class="et-rotate next" et-in="rotateSlideIn" et-out="rotateSlideOut">Next</button>
  <div class="et-page well">
    <%= render 'form_one' %>
  </div>
  <div class="et-page well step-2">
  </div>
  <div class="et-page well step-3">
  </div>
</div>