body {
	.navbar {
		.navbar-brand {
			background-image: url(/assets/reverse-logo.png);
			background-size: 45px;
			background-repeat: no-repeat;
			padding-left: 45px;
			margin-top: 10px;
			margin-bottom: -10px;
			padding-top: 5px;
			margin-left: 10px;
			font-size: 20px;
		}
	}
	margin: 0;
	.float-nav-image {
		background-image: image-url('top-wuhan-nav.png');
		background-size: contain;
	  background-repeat: no-repeat;
		width: 100%;
		height: 0;
		padding-top: 29.072%;
		position: relative;
	}
	.container {
		padding: 0;
	}
	.weixin {
		padding-top: 20px;
	}
}

@media(max-width: 768px) {
	.float-nav-image {
		.social-buttons, .manifesto { display: none; }
	}
}

@media(min-width: 768px) {
	.float-nav-image {
		.manifesto {
			color: rgb(255, 255, 255);
			position: absolute;
			font-size: 22px;
			margin-left: 42%;
			font-family: cursive;
			top: 28%;
		}
		.social-buttons {
			margin-top: -100px;
			float: right;
			margin-right: 50px;
			.weixin-share {
				width: 50px;
				height: 50px;
				display: inline-block;
				border-radius: 8px;
				background-image: image-url('weixin.png');
				background-size: 50px;
			}
			.popover {
				.popover-title {
					background-color: white;
					color: black;
				}
				.popover-content {
					background-color: white;
					p {
						color: black;
						font-size: 14px;
					}
					.share-tdcode {
						background-image: image-url('weixin-share-tdcode.png');
						background-size: 120px 120px;
						width: 120px;
						height: 120px;
						margin-left: 26px;
					}
				}
			}
			.social-share-button {
				display: inline-block;
				vertical-align: top;
			}
		}
	}
}
