<div class="row">
  <div class="col-md-3">用户名</div>
  <div class="col-md-9"><%= @user.name %></div>
</div>
<div class="row">
  <div class="col-md-3">邮箱</div>
  <div class="col-md-9"><%= @user.email %></div>
</div>