<div class="row">
  <div class="col-md-3">工作单位</div>
  <div class="col-md-9"><%= @user.corp %></div>
</div>
<div class="row">
  <div class="col-md-3">职位</div>
  <div class="col-md-9"><%= @user.position %></div>
</div>
<div class="row">
  <div class="col-md-3">技能</div>
  <div class="col-md-9"><%= @user.skill %></div>
</div>
<div class="row">
  <div class="col-md-3">个人介绍</div>
  <div class="col-md-9"><%= @user.desc %></div>
</div>