<div class="row">
  <div class="col-md-3">手机号码</div>
  <div class="col-md-9"><%= @user.phone_number %></div>
</div>
<div class="row">
  <div class="col-md-3">微信号码</div>
  <div class="col-md-9"><%= @user.weixin_number %></div>
</div>
<div class="row">
  <div class="col-md-3">QQ号码</div>
  <div class="col-md-9"><%= @user.qq_number %></div>
</div>