.ok-icon {
  text-align: center;
  padding-bottom: 20px;
  i {
    font-size: 100px;
    color: #0F9D58;
    line-height: 60px;
  }
  p {
    color: #0F9D58;
    font-size: 20px;
  }
}

#editor-upload-image-modal {
  .modal-body {
    text-align: center;
    .upload-section {
      .loading-upload-image {
        display: none;
      }
      p {
        display: inline-block;
        input {
          width: 200px;
        }
      }
    }
  }
}