.start-up-lists {
  .start_up {
    background: white;
    border-radius: 4px;
    border-bottom: 1px solid #eee;
    margin-bottom:  10px;
    .title {
      .start-up-name {
        font-size: 20px;
        text-align: center;
        padding-top: 20px;
        padding-left: 30px;
      }
      .start-up-logo {
        padding: 10px;
        .start-up-logo-image {
          max-height: 60px;
        }
      }
    }
    .desc {
      padding: 20px 20px 10px 20px;
      height: 60px;
    }
    .creator {
      text-align: right;
      margin: 10px 20px;
      a {
        text-decoration: none;
        color: #aaa;
      }
    }
  }
}

.submit-start-up {
  margin-top: 40px;
  .submit-start-up-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .submit-start-up-link {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }
}
@media (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) { 
  .start-up {
    border-bottom: none;
  }
  .submit-start-up-desc {
    padding-left: 20%;
  }
}