.about-page {
	.about-product {
		div {
			font-size: 18px;
			font-weight: 400;
			margin-bottom: 20px;
		}
	}
	.about-developers {
		p {
			font-size: 18px;
			font-weight: 400;
			margin-bottom: 20px;
		}
	}
}