@mixin avatar-section {
	.avatar_section {
		height: 100px;
		width: 100px;
		display: inline-block;
		margin-right: 20px;
		.avatar-pic {
			border-radius: 50%;
			border: 1px solid #eee;
		}
	}
	#avatar_upload_button {
		display: inline-block;
		padding: 10px 20px;
	}
	.loading-avatar {
		display: none;
		width: 50px;
	}
}
.users-list {
	.welcome-user {
		text-align: center;
		font-size: 14px;
		a {
			color: #4A90E2;
			font-size: 18px;
		}
		span:last-child {
			font-size: 18px;
		}
	}
	.users-list-section {
		margin-bottom: 50px;
		.user {
			background: white;
	    border-radius: 4px;
	    border-bottom: 1px solid #eee;
	    margin-bottom:  10px;
	    a {
	    	&:hover {
	    		text-decoration: none;
	    	}
	    	.personal-brief {
		    	&:hover {
		    		cursor: pointer;
		    	}
		    	.user-avatar {
			    	padding: 10px 10px 10px 30px;
			    	.user-avatar-section {
							max-width: 70px;
							border-radius: 50%;
							border: 1px solid rgb(238, 238, 238);
							width: 100%;
						}
			    }
			    .user-info	{
			    	padding-top: 20px;
			    	.name {
			    		margin-bottom: 10px;
			    		.user-industry {
			    			background: red;
			    			color: white;
			    		}
			    		.user-name {
			    			font-size: 16px;
								font-weight: 400;
			    		}
			    	}
			    	.work {
			    		span:first-child {
			    			margin-right: 10px;
			    			margin-left: -15px;
			    		}
			    	}
			    }
			    .user-skill, .user-desc {
			    	padding: 5px 20px;
			    }
		    }
	    }
	    
	    .invitation	{
	    	padding: 0px 20px;
	    	border-top: 1px solid #eee;
	    	.comments {
	    		padding-top: 16px;
					font-size: 16px;
					span {
						margin-right: 8px;
					}
	    	}
	    }
		}
	}
}

.registration-table {
	margin: 20px auto;
	max-width: 600px;
	#registration-user-avatar {
		.actions {
			text-align: center;
			@include avatar-section;
		}
		p {
			text-align: center;
			margin-top: 15px;
			font-size: 16px;
		}
	}
}

#user-show {
	overflow-y: hidden;
	.modal-dialog {
		height: 100%;
		width: 70%;
		max-width: 700px;
		position: absolute;
		right: 0;
		margin-top: 0;
		.modal-content {
			background-color: #eeeeee;
			height: 100%;
			margin: 0;
			.user-brief {
				background-color: white;
				margin-left: 0;
				margin-right: 0;
				padding-bottom: 20px;
				padding-top: 20px;
				.user-avatar {
					padding-left: 30px;					
					.avatar-on-top {
						border-radius: 50%;
					}
				}
				.info {
					.row {
						margin-left: 0;
						margin-right: 0;
						.name {
							font-size: 16px;
							font-weight: bold;
						}
						.career {
							span {
								&:first-child {
									margin-right: 20px;
								}
							}
						}
					}
					.skill, .desc {
						padding-left: 15px;
					}
				}
			}
			.friends-list {
				.friend-avatar {
					display: inline-block;
					border-radius: 50%;
				}
			}
		}
	}
}

// me page
.me {
	.avatar {
		@include avatar-section;
		.edit_user {
			display: none;
		}
	}
}

@media (min-width: 768px) and (min-width: 992px) and (min-width: 1200px) { 
  .user {
    border-bottom: none;
  }
}