<p>你好 <%= @resource.name %>!</p>

<p>点击以下链接重置密码就好喽。</p>

<p><%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果你没有申请重置密码， 忽略该邮件就好了。</p>
<p>你的密码不会被修改， 除非你登陆该修改密码页面创建一个新密码。</p>
