<div class="float-nav-image">
  <p class='manifesto'>在光谷， 邀请志同道合的朋友喝咖啡</p>
  <div class="social-buttons">
    <%= link_to '', 'javascript:void(0)',rel: 'popover',  data: {trigger: 'hover'},  :class => "weixin-share", title: '分享到微信', id: 'banner_weixin_share_site'  %>
    <%= social_share_button_tag('光谷创客自己的社区', :url => "http://startups.coffee") %>
  </div>
</div>