<div class="float-nav-image">
</div>
<div class="navbar navbar-warning">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">光谷 ＋ 创新</a>
    </div>
    <div class="navbar-collapse collapse navbar-warning-collapse">
        <ul class="nav navbar-nav">
            <li><a href="javascript:void(0)">初创团队</a></li>
            <li><a href="javascript:void(0)">我在光谷</a></li>
            <li><a href="javascript:void(0)">活动</a></li>
            <li><a href="javascript:void(0)">光谷政策</a></li>
        </ul>
    </div>
</div>